*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; */
  transition: all 100ms ease-in-out;
}
body {
  background-color: #eff3fd;
  background-size: cover;
  background-image: url("./assets//image/bg.png");
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}
